body{
    margin: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: cursive;
}

#form{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    border-color: black;
    /* border-style: dashed; */
    border-radius: 20px;
}

.input:hover{
    border-style: dashed;
}



.btn{
    border-radius: 20px;
    text-align: center;
    font-weight: bold; 
    margin-top: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: #8E2DE2;
    color: white;
}

.score{
    color: wheat;
    text-align: right;
}
